.sds--switch {
  &--disabled {
    background-color: var(--sds--color--gray--100);
    &:before {
      left: 1.5rem;
    }

    &:hover {
      background-color: var(--sds--color--gray--200);

      &:before {
        background-color: var(--sds--color--gray--100);
      }
    }
  }
}